/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 75px;
  color: #fff;
  font-size: 50px;
}

.body-wrapper {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #fff;
  font-size: 35px;
}

section {
  background-color: #fff;
  padding: 40px;
  border-radius: 25px;
}

.form-box {
  width: 37vw;
  height: 10vh;

}

form {
display: flex;
justify-content: space-around;
margin-top: -20px;
margin-bottom: 10px;
}

.input-box {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}


label {
  font-style: italic;
  font-size: 30px;
}

 button {
   border-radius: 10px;
   border-style: none;
   font-family: 'Quicksand', sans-serif;
   font-size: 25px;
   color: #fff;
   background-color: #134d71;
   width: 258px;
   height: 40px;
 }





.message-box {
  width: 70vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center
}

p {
  font-size: 25px
}

img {
  width: 8vw;
  height: 15vh;
}

.red {
  color: red;
}

.hidden {
  display: none;
}
